short-header {
  position: fixed;
  width: 100%;
  height: $short-header-height;
  line-height: $short-header-height;
  vertical-align: middle;
  z-index: 4;
  color: #ffffff;
  background-color: #040404;

  .content-column {
    min-height: 0;
  }

  #att-drive-home-link {
    display: block;
    float: left;
    height: 100%;

    img {
      vertical-align: middle;
      height: 30px;
    }
  }

  #logos {
    position: relative;
    float: right;
  }

  #logos>a, #logos>a>img {
    vertical-align: middle;
  }

  #logos>a {
    margin-left: $logo-gap;
  }

  #ericsson-logo {
    position: relative;
    top: -1px;
  }
}
