.home-route {

  overflow-x: hidden;

  #banner,
  #banner:before,
  #banner:after {
    background-color: black;
  }

  .sections {
    home-page-section {
      background-color: $home-page-primary-background-color;
    }

    home-page-section:nth-child(even),
    home-page-section:nth-child(even):before,
    home-page-section:nth-child(even):after {
      background-color: $home-page-secondary-background-color;
    }
  }
}
