.home-route {

  overflow-x: hidden;

  .sections {
    home-page-section:nth-child(even),
    home-page-section:nth-child(even):before,
    home-page-section:nth-child(even):after {
      background-color: $home-page-alternate-background-color;
    }
  }
}
