.home-route {

  overflow-x: hidden;

  header {
    height: 600px;
  }

  header,
  header:before,
  header:after {
    background-color: black;
  }

  .sections {
    home-page-section:nth-child(even),
    home-page-section:nth-child(even):before,
    home-page-section:nth-child(even):after {
      background-color: $home-page-alternate-background-color;
    }
  }
}
