side-menu {
  position: fixed;
  width: $side-menu-width;
  overflow: auto;
  height: 700px;
  height: calc(100vh - #{$short-header-height + 20px});


  .side-menu-section {
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: $side-menu-heading-size;
  }

  ul {
    @extend .non-bulleted-list;

    li{
      margin-bottom: 10px;
    }
  }
  
  li > a {
    font-size: $side-menu-font-size;
    cursor: pointer;
    color: #0574ac;
  }

  li.selected > a {
    font-weight: bold;

  }

  li.selected > a:focus{
    outline: none;
  }
}
