side-menu {
  position: fixed;
  width: $side-menu-width;

  .side-menu-section {
  }

  h2 {
    margin-top: 30px;
    font-size: $side-menu-font-size;
    text-transform: uppercase;
  }

  ul {
    @extend .non-bulleted-list;
  }

  li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $side-menu-item-height;
    font-size: $side-menu-font-size;
    text-transform: uppercase;
    cursor: pointer;
  }

  li.selected > a {
    font-weight: bold;
  }
}
