$try-it-button-offset-bottom: 0px;
$try-it-button-offset-horizontal: 0px;

$try-it-margin: 8px;

api-try-it-card {
  display: block;
  position: relative;
}

api-try-it-card h3 {
  margin-top: 14px;
}

api-try-it-card h4 {
  margin: 23px 0 18px 0;
  font-weight: bold;
}

api-try-it-card>hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

api-try-it-card label {
  display: block;
  margin-top: $try-it-margin;
}

.try-it-url,
.try-it-request-area,
.try-it-response-area {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.try-it-request-area {
  padding-bottom: 38px;
}

.try-it-url,
.try-it-auth-string {
  @include code-font();
  background-color: $code-output-background-color;
  padding: 6px;
}

.try-it-url {
  overflow-x: hidden;
}

api-try-it-card label>*,
.try-it-authentication-header>span {
  display: inline-block;
}

api-try-it-card label>span,
.try-it-authentication-header>span:first-child {
  width: 160px;
  text-align: right;
}

.try-it-authentication-header>span:nth-child(2) {
  min-width: 248px;
}

api-try-it-card label>input {
}

api-try-it-card input {
  width: 248px;
}

.try-it-authentication input {
  width: 168px;
}

.try-it-parameter {

}

.domain-input {
  width: 409px;
}

.try-it-authentication {
  margin-top: $try-it-margin;
}

.try-it-authentication>label {
  margin-left: 80px;
}

.try-it-request-body {
  @include code-font();
  width: calc(100% - #{$input-padding * 2});
  height: 280px;
  margin-bottom: $try-it-margin;
}

.try-it-reset-button,
.try-it-send-button {
  position: absolute;
  bottom: $try-it-button-offset-bottom;
}

.try-it-reset-button {
  left: $try-it-button-offset-horizontal;
}

.try-it-send-button {
  right: $try-it-button-offset-horizontal;
}

.try-it-response {
  @include code-font();
}

.try-it-response-area>h3 {
  margin-bottom: 18px;
}

.try-it-status {
  color: #44bb22;
}

.try-it-status.error {
  color: #cc4422;
}

div.try-it-response-body[hljs] {
  margin: $try-it-margin 0;
}
