<div class="try-it-url">
  HTTP {{apiItem.specification.resourceTable['HTTP Verb'][0]}} {{apiItem.tryIt.url}}
</div>

<hr>

<form class="try-it-request-area"
      name="form"
      novalidate>
  <h3>Request</h3>

  <h4>URL Values</h4>

  <label>
    <span>Domain</span>
    <input type="text"
           ng-model="apiItem.TryItData.emulatorDomain"
           class="try-it-parameter domain-input"
           required
           placeholder="Domain">
  </label>

  <div ng-if="apiItem.specification.parameters.route">
    <label ng-repeat="(key, value) in apiItem.specification.parameters.route">
      <span>{{key}}</span>
      <input type="text"
             ng-model="apiItem.TryItData.routeParams[key]"
             class="try-it-parameter"
             required
             placeholder="{{key}}">
    </label>
  </div>

  <div ng-if="apiItem.specification.parameters.query">
    <label ng-repeat="queryParam in apiItem.specification.parameters.query">
      <span>{{queryParam}}</span>
      <input type="text"
             ng-model="apiItem.TryItData.queryParams[queryParam]"
             class="try-it-parameter"
             placeholder="{{queryParam}}">
    </label>
  </div>

  <h4>Header Values</h4>

  <label ng-if="apiItem.specification.resourceTable['API Key']">
    <span>API Key</span>
    <input type="text"
           ng-model="apiItem.TryItData.apiKey"
           class="try-it-parameter api-key-input"
           required
           placeholder="API Key">
  </label>

  <div ng-if="apiItem.specification.resourceTable['Authentication']"
       class="try-it-authentication">
    <div class="try-it-authentication-header">
      <span>Authorization</span>
      <span class="try-it-auth-string">{{apiItem.TryItData.authString}}</span>
    </div>

    <label>
      <span>Username</span>
      <input type="text"
             ng-model="apiItem.TryItData.username"
             class="try-it-parameter username-input"
             required
             placeholder="username">
    </label>

    <label>
      <span>Password</span>
      <input type="text"
             ng-model="apiItem.TryItData.password"
             class="try-it-parameter password-input"
             required
             placeholder="Password">
    </label>
  </div>

  <h4>Request body</h4>

  <textarea ng-model="apiItem.tryIt.requestBody"
            class="try-it-request-body"
            placeholder="The body of your request"></textarea>

  <button class="try-it-send-button"
          ng-disabled="form.$invalid"
          ng-click="handleSendRequestClick()">Send</button>
  <button class="try-it-reset-button"
          ng-click="reset()">Reset</button>
</form>

<hr>

<div class="try-it-response-area">
  <h3>Response</h3>

  <div ng-switch on="apiItem.tryIt.requestState"
      class="try-it-response">
    <div ng-switch-when="waiting-to-send">
      <em>Request not sent yet</em>
    </div>

    <div ng-switch-when="waiting-for-response">
      Waiting for response...
    </div>

    <div ng-switch-when="error-with-request">
      An error occurred while sending your request:
      {{apiItem.tryIt.response.error}}
    </div>

    <div ng-switch-when="received-response">
      Status:
      <span class="try-it-status"
           ng-class="{error: apiItem.tryIt.response.error}">
        {{apiItem.tryIt.response.status}}
      </span>

      <div hljs
           source="apiItem.tryIt.response.body | json"
           class="language-json try-it-response-body"
           ng-if="apiItem.tryIt.response.body"></div>
      <div hljs
           source="apiItem.tryIt.response.bodyParseError"
           class="try-it-response-body"
           ng-if="apiItem.tryIt.response.bodyParseError"></div>
    </div>
  </div>
</div>