$api-specification-card-body-content-margin-top: 14px;

api-specification-card {
  display: block;
}

api-specification-card>div {
  margin-top: 16px;
}

api-specification-card>div:first-child {
  margin-top: 0;
}

.resource-table-array-element:after {
  content: ', ';
}

.resource-table-array-element:last-child:after {
  content: '';
}

api-specification-card>.description,
api-specification-card td {
  white-space: pre-wrap;
}

api-specification-card ul {
  @extend .non-bulleted-list;
}

api-specification-card dt {
  display: block;
  float: left;
  clear: left;
}

api-specification-card dd {
  display: span;
  margin-left: 240px;
  margin-bottom: 10px;
}

.api-specification-errors dd {
  margin-left: 80px;
}

api-specification-card th {
//  width: 160px;
  width: 80px;
  padding-bottom: 10px;
  text-align: left;
}

api-specification-card th:first-child {
  //  width: 220px;
  width: 160px;
}

api-specification-card th:last-child {
  //  width: 220px;
  width: 380px;
}

api-specification-card td {
  padding-bottom: 6px;
  vertical-align: top;
}

api-specification-card h3 {
  margin-top: 34px;
  margin-bottom: 14px;
  font-weight: bold;
  text-transform: none;
}

api-specification-card h4 {
  margin-bottom: 10px;
}

.api-specification-examples li {
  margin-bottom: 10px;
}

.example-content {
  padding: $code-padding;
  background-color: $code-output-background-color;
  white-space: nowrap;
}

.example-request-header {
  @include code-font();
}

.example-content>[hljs]>pre,
.example-content>[hljs]>pre>code {
  padding: 0;
}
