<div class="row">
    <div class="col">
        <h3>Success</h3>
        <div class="status-box">
            <span>You now have:</span>
            <ul>
                <li>DEC API</li>
                <li>UI SDK</li>
            </ul>
            <hr />
            <div class="row">
                <div class="col col-center">
                    <span>DEC connection status:</span>&nbsp;                    
                    <span style="color: red" ng-hide="isDecOnline">[OFFLINE]&nbsp;&nbsp;<i class="fa fa-exclamation-circle"></i></span>
                    <span style="color:green" ng-show="isDecOnline">[ONLINE]&nbsp;&nbsp;<i class="fa fa-check-circle"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <h3>App seed</h3>
        <p>
            You've successfully seeded your first app, and you're ready to start developing it. <br/>
            For your convenience, we've coded up some basic app structure to get you started.
        </p>
        <h3>Display emulation</h3>
        <p>
            <strong>Make sure</strong> you use your browser's built in device emulation, and set your (emulated) screen resolution to 768x470. Click <a target="_blank" href="https://developer.chrome.com/devtools/docs/device-mode"> here</a> for additional info.
        </p>
    </div>
</div>
