$platform-tab-height: 30px;
$platform-tab-border-width: 10px;
$platform-tab-top-margin: 0px;

$example-code-margin-top: 10px;

api-example-card {
  display: block;
}

api-example-card>[hljs]>pre {
  height: calc(100% - #{$platform-tab-height + $platform-tab-border-width + $platform-tab-top-margin + $example-code-margin-top});
  margin: $example-code-margin-top 0 0 0;
}

.platform-tabs {
}

.platform-tab {
  height: $platform-tab-height;
  border-bottom-width: $platform-tab-border-width;
  margin-top: $platform-tab-top-margin;
}
