<ul class="platform-tabs tabs">
  <li ng-repeat="platform in ['web', 'android', 'ios']"
      ng-click="apiItem.selectedPlatform = platform"
      ng-class="{selected: apiItem.selectedPlatform === platform}"
      class="platform-tab tab">
    {{platform}}
  </li>
</ul>

<pre sync-prism
     source="{{apiItem.example[apiItem.selectedPlatform].text}}"
     ng-class="{'language-javascript': apiItem.selectedPlatform === 'web', 'language-java': apiItem.selectedPlatform === 'android', 'language-objectivec': apiItem.selectedPlatform === 'ios'}"></pre>