$side-bar-width: 290px;

#route-view {
  .content-block {
    display: flex;

    .side-bar {
      flex: 0 0 $side-bar-width;
      padding: 0 30px;
      background-color: $api-docs-side-bar-background-color;

      .side-bar-collection {
        margin: 40px 0;

        h2 {
          font-size: 20px;
        }

        ul {
          @extend .non-bulleted-list;
          margin-top: 24px;
        }

        li {
          margin: 12px 0;
          font-size: 16px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          cursor: pointer;
        }

        li.selected {

        }
      }

      .side-bar-collection.selected {
        h2 {

        }
      }
    }

    markdown-block {

    }
  }
}
