.web-apps-api{
  padding-bottom: 40px;

  h2 {
    padding-bottom: 10px;
  }

  a.sans {
    font-family: Courier, sans;
  }

  ol {
    padding-left: 40px;
  }

  ol {
    padding-bottom: 10px;
  }

  pre {
    display: inline;
  }
}