$markdown-block-body-content-margin-top: 14px;

markdown-block {
  display: block;

  line-height: 1.5em;

  p,
  h3,
  h4,
  h5,
  ol,
  ul {
    margin: 20px 0;
  }

  ul,
  ol {
    padding-left: 40px;
  }

  h3,
  h4,
  h5 {
    font-weight: bold;
    text-transform: none;
  }

  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 16px;
  }

  dt {
    display: block;
    float: left;
    clear: left;
  }

  dd {
    display: inline;
    margin-left: 240px;
    margin-bottom: 10px;
  }

  th {
    //  width: 160px;
    width: 80px;
    padding-bottom: 10px;
    text-align: left;
  }

  th:first-child {
    //  width: 220px;
    width: 160px;
  }

  th:last-child {
    //  width: 220px;
    width: 380px;
  }

  td {
    padding-bottom: 6px;
    vertical-align: top;
  }
}
