.getting-started-route {
	padding-bottom: 40px;
}

.getting-started-route h2 {
	padding-bottom: 10px;
}

.getting-started-route a.sans {
	font-family: Courier, sans;
}

.getting-started-route ol, ul {
	padding-left: 40px;
}

.getting-started-route ol, ul li {
	padding-bottom: 10px;
}

.getting-started-route pre {
	display: inline;
}