.two-videos-route {
  > .content-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $short-header-height;
    padding-top: 30px;

    .sub-column {
      width: 45%;
    }

    h2 {
      margin: 60px 0px 40px;
      text-align: center;
      font-size: 25px;
      a{
        color: black;
      }
    }

    iframe {
      margin: auto;
    }

    ul {
      @extend .non-bulleted-list;
      width: 130px;
      margin: 40px auto;
    }

    li {
      margin: 16px 0;
      text-align: center;
      a {
        font-size: 18px;
      }
    }


  }
}
