$side-bar-width: 280px;

home-page-section {
  @extend .full-width-bar;

  display: block;

  padding: 40px 0;

  line-height: 1.5em;

  p,
  h3,
  ol,
  ul {
    margin: 20px 0;
  }

  ol, ul {
    padding-left: 40px;
  }

  h3 {
    font-weight: normal;
  }

  > hr {
    /* border: 0 solid $home-page-secondary-background-color; */
    border: 0 solid transparent;
    border-bottom-width: 3px;
    margin-bottom: 24px;
  }

  > .section-body {
    display: flex;

    > .home-section-side-bar-links {
      @extend .non-bulleted-list;

      flex: 0 0 $side-bar-width;

      > li > a {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 40px;
        margin-bottom: 10px;
/*         border: 0 solid $home-page-secondary-background-color;
        border-bottom-width: $markdown-list-item-border-width; */
/* 
        text-transform: capitalize;
        cursor: pointer; */
        /* transition: border-color 0.2s; */
/* 
        &,
        &:hover,
        &:active {
          color: black;
        }

        &:hover {
          border-color: $tab-active-border-color;
        }

        &:active {
          border-color: $api-docs-link-active-color;
        } */
      }
    }

    > .content {
      margin-right: 20px;
    }
  }
}

/* home-page-section:nth-child(even) {
  > hr {
    border-color: $home-page-primary-background-color;
  }

  .home-section-side-bar-links {
    > li > a {
      border-color: $home-page-primary-background-color;
    }
  }
}
 */