$code-font-stack: Consolas, Monaco, 'Andale Mono', monospace;

$button-active-color: rgb(255,255,255);
$button-active-background-color: rgb(0,0,0);

$button-inactive-color: rgb(255,255,255);
$button-inactive-background-color: rgb(102,102,102);

$tab-active-border-color: #067ab4;
$tab-inactive-border-color: rgb(51,51,51);

$item-active-color: rgb(5,116,172);
$item-inactive-color: rgb(51,51,51);

$verb-active-color: rgb(255,255,255);
$verb-active-background-color: rgb(5,116,172);

$card-inactive-color: rgb(191,191,191);

$verb-inactive-color: rgb(255,255,255);
$verb-inactive-background-color: rgb(191,229,255);

$banner-color: rgb(255,255,255);
$banner-background-color: rgb(7,7,7);

$body-color: rgb(51,51,51);
$body-background-color: rgb(255,255,255);

$code-input-background-color: rgb(239,248,255);
$code-output-background-color: rgb(247,247,247);

$body-font-size: 14px;
$tab-font-size: 16px;
$toggle-button-font-size: 14px;
$side-menu-font-size: 16px;
$side-menu-heading-size: 22px;
$banner-header-font-size: 20px;
$h1-font-size: 36px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 16px;

$side-menu-item-height: 38px;

$category-tab-height: 30px;
$category-tab-border-width: 10px;

$divider-border-width: 1px;

$tall-header-height: 600px;
$short-header-height: 70px;
$top-header-divider-border-width: 1px;
$logo-gap: 36px;

$code-padding: 16px;
$input-padding: 6px;
$button-height: 35px;

$content-column-width: 1000px;

// ---  --- //

@mixin code-font() {
  font-family: $code-font-stack;
}

.non-bulleted-list {
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}

/*
@font-face {
  font-family: hack-font;
  src: url('../../dist/fonts/hack-font.otf');
  font-weight: normal;
}

@font-face {
  font-family: hack-font;
  src: url('../../dist/fonts/hack-font-bold.otf');
  font-weight: bold;
}

*/

@font-face {
    font-family: hack-font;
    src: url('../../dist/fonts/omnesatt-regular-webfont.eot');
    src: url('../../dist/fonts/omnesatt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../dist/fonts/omnesatt-regular-webfont.woff') format('woff'),
         url('../../dist/fonts/omnesatt-regular-webfont.ttf') format('truetype'),
         url('../../dist/fonts/omnesatt-regular-webfont.svg#omnes_att_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: hack-font;
    src: url('../../dist/fonts/omnesatt-light-webfont.eot');
    src: url('../../dist/fonts/omnesatt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../dist/fonts/omnesatt-light-webfont.woff') format('woff'),
         url('../../dist/fonts/omnesatt-light-webfont.ttf') format('truetype'),
         url('../../dist/fonts/omnesatt-light-webfont.svg#omnes_attlight') format('svg');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: hack-font;
    src: url('../../dist/fonts/omnesatt-lightitalic-webfont.eot');
    src: url('../../dist/fonts/omnesatt-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../dist/fonts/omnesatt-lightitalic-webfont.woff') format('woff'),
         url('../../dist/fonts/omnesatt-lightitalic-webfont.ttf') format('truetype'),
         url('../../dist/fonts/omnesatt-lightitalic-webfont.svg#omnes_attlight_italic') format('svg');
    font-weight: lighter;
    font-style: italic;

}



@font-face {
    font-family: hack-font;
    src: url('../../dist/fonts/omnesatt-bold-webfont.eot');
    src: url('../../dist/fonts/omnesatt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../dist/fonts/omnesatt-bold-webfont.woff2') format('woff2'),
         url('../../dist/fonts/omnesatt-bold-webfont.woff') format('woff'),
         url('../../dist/fonts/omnesatt-bold-webfont.ttf') format('truetype'),
         url('../../dist/fonts/omnesatt-bold-webfont.svg#omnes_attbold') format('svg');
    font-weight: bold;
    font-style: normal;

}



div, h1, h2, h3, h4, h5, ul, ol, dl, p, hr {
  margin: 0; padding: 0;
}


body {
  width: 100%;
  font-family: hack-font, sans-serif;
  font-size: $body-font-size;
  color: $body-color;
  background-color: $body-background-color;

  transition: scrollTop 0.3s;
}

h1, h2, h3, h4 {
  text-align: left;
  font-weight: lighter;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

textarea, input {
  @include code-font();
  margin: 0;
  padding: $input-padding;
  border-width: 0;
  background-color: $code-input-background-color;
  white-space: pre;
}

button {
  height: $button-height;
  line-height: $button-height;
  margin: 0;
  padding: 0 16px;
  border-width: 0;
  border-radius: 0;
  background-color: $button-active-background-color;
  color: $button-active-color;
  text-transform: uppercase;
}

button[disabled] {
  background-color: $button-inactive-background-color;
  color: $button-inactive-color;
}

[hljs]>pre {
  margin: 0;
  padding: 0 $code-padding;
  overflow: auto;
  background-color: $code-output-background-color;
}

[hljs]>pre>code {
  display: block;
  overflow: visible;
  padding: $code-padding 0;
  background-color: $code-output-background-color;
}

#route-view {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 400px;
}

.tabs {
  @extend .non-bulleted-list;
}

/* Clearfix */
.tabs:after {
  content: "";
  display: table;
  clear: both;
}

.tab {
  display: block;
  float: left;
  width: calc(33.3% - 14px);
  margin-left: 20px;
  height: $category-tab-height;
  font-size: $tab-font-size;
  border: 0 solid $tab-inactive-border-color;
  border-bottom-width: $category-tab-border-width;
  cursor: pointer;
  vertical-align: top;
  text-transform: uppercase;
  text-align: left;
  overflow: hidden;
  transition: border-color 0.25s;
}

.tab.selected {
  border-color: $tab-active-border-color;
}

.tab:first-child {
  margin-left: 0;
}

// ---  --- //

$side-menu-width: 220px;
$side-menu-right-margin: 20px;

h1 {
  margin-bottom: 16px;
}

#car-image-panel {
  position: absolute;
  top: 0; left: -100%; right: -100%;
  margin: auto;
  width: 1400px;
  height: $tall-header-height;
  overflow: hidden;
 //background: transparent url('dist/images/car-1.png') no-repeat center top;
  z-index: 2;
  transition: background-image 1s;
}

.animiations-wrapper {
  position: absolute;
  width: 100%; height: 100%;
  transition: opacity 0.4s;
}

.animations-wrapper.hidden {
  opacity: 0;
}

#empty-car-area {
  position: relative;
  height: 100%;
  z-index: 3;
}

.content-column {
  position: relative;
  width: $content-column-width;
  margin: 0 auto;
  height: 100%;
  min-height: 500px;
}

.inner-content-column {
  position: relative;
  float: right;
  width: calc(100% - #{$side-menu-width + $side-menu-right-margin + 20px});
  margin-top: 30px;
}

.inner-content-column > h1 {
  margin: 30px 0;
  text-align: left;
}

.content-column>.tabs {
  position: absolute;
  bottom: 0;
  width: calc(100% + 420px);
  margin-left: -210px;
  margin-right: -210px;
}

.content-column>.tabs>.tab {
  width: calc(25%);
  margin-left: 0;
}

.home-route api-list {
}

.content-block {
  margin-top: $short-header-height;
}

.api-documentation-categories {
  @extend .non-bulleted-list;
  width: calc(100% - 18px);
  padding: 30px 0 30px 18px;
  border: 0 solid #bfbfbf;
  border-bottom-width: 1px;
}

.api-documentation-categories > li {
  text-indent: -5px;
  margin: 20px 0;
  font-size: $side-menu-font-size;
  cursor: pointer;
}

.api-documentation-categories > li:before {
  content: '\2014';
  position: relative;
  left: -5px;
}

.api-documentation-categories > li:first-child {
  margin-top: 0px;
}

.api-documentation-categories > li:last-child {
  margin-bottom: 0px;
}

.api-documentation-categories > li.selected {
  color: $item-active-color;
}

hr.divider {
  position: relative;
  border: 0 solid #bfbfbf;
  border-bottom-width: 1px;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s;
}

footer {
  margin: 60px 0;
  text-align: center;
}

// --- Styles for the new portal landing page --- //

$home-page-primary-background-color: white;
$home-page-secondary-background-color: #fafafa;

$markdown-list-item-border-width: $category-tab-border-width;

.full-width-bar {
  position: relative;
  max-width: $content-column-width;
  margin-left: auto;
  margin-right: auto;
}

.full-width-bar:before,
.full-width-bar:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 999999px;
}

.full-width-bar:before {
  right: 100%;
}

.full-width-bar:after {
  left: 100%;
}

// --- Styles for the new API documentation page --- //

$api-docs-side-bar-background-color: rgb(241, 241, 241);
$header-background-color: #0574ac;
$header-secondary-background-color: #0574ac;
$api-docs-link-normal-color: rgb(66, 132, 196);
$api-docs-link-hover-color: rgb(128, 205, 254);
$api-docs-link-active-color: rgb(171, 57, 52);

a {
  color: $api-docs-link-normal-color
}
a:hover {
  color: $api-docs-link-hover-color
}
a:active {
  color: $api-docs-link-active-color;
}


/* AT&TDrive Buttons */


.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: thin dotted #666;
  outline-offset: -4px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  opacity: 0.0065;
  filter: alpha(opacity=0.65);
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary {
  color: #ffffff;
  background-color: #0574ac;
  border-color: #05699b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #045983;
  border-color: #034160;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #067ab4;
  border-color: #05699b;
}
.btn-primary .badge {
  color: #067ab4;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #4ca90c;
  border-color: #41910a;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #377909;
  border-color: #285806;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #4ca90c;
  border-color: #41910a;
}
.btn-success .badge {
  color: #4ca90c;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #e6f0f7;
  border-color: #d3e4f1;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #bfd9eb;
  border-color: #a4c9e2;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #e6f0f7;
  border-color: #d3e4f1;
}
.btn-info .badge {
  color: #e6f0f7;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #ffc089;
  border-color: #ffb26f;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ffa456;
  border-color: #ff9132;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ffc089;
  border-color: #ffb26f;
}
.btn-warning .badge {
  color: #ffc089;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #ffa292;
  border-color: #ff8d79;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #ff775f;
  border-color: #ff583b;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #ffa292;
  border-color: #ff8d79;
}
.btn-danger .badge {
  color: #ffa292;
  background-color: #ffffff;
}
.btn-link {
  color: #067ab4;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #04486a;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}