.countdown-main-container{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	background: url('../images/drive-studio-backdrop.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: white;

	.countdown-heading{
		margin: 0px auto 20px;
		font-size: 18px;
		text-align: center;
		
		p{
			margin-top: 10px;
		}
	}
	
	.timer{
			.value{
				font-size: 9em;
				margin-left: 15px;
			}
			.unit{
				font-size: 3em;
			}
		}
	
	.timer,
	#timezone,	
	#signup{
		margin: 0 auto;
	}

	#timezone{
		color: #aaa;
	}

	#signup{
		margin-top: 80px;
		font-size: 36px;
		a{
			color: white;
		}
	}

	.login{

		width: 20em;
		position: relative;
		margin: 0 auto;
		padding: 2em;

		background-color: rgba(150, 150, 150, 0.3);
		border: 1px solid rgba(200, 200, 200, 0.3);
		border-radius: .2em;

			
		input{
			width: 100%;
			margin-bottom: .8em;
			box-sizing: border-box;
		}

		button{
			margin-top: 2em;
			width: 100%;
		}

		.login-error{
			padding-top: 1em;
			color: red;
			font-weight: bold;
		}

		
		
	}

}

.animated {
		  -webkit-animation-duration: 1s;
		  animation-duration: 1s;
		  -webkit-animation-fill-mode: both;
		  animation-fill-mode: both;
		}
		@-webkit-keyframes fadeInUp {
		  0% {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		  }
		  100% {
		    opacity: 1;
		    -webkit-transform: none;
		    transform: none;
		  }
		}
		@keyframes fadeInUp {
		  0% {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		  }
		  100% {
		    opacity: 1;
		    -webkit-transform: none;
		    transform: none;
		  }
		}
		.fadeInUp {
		  -webkit-animation-name: fadeInUp;
		  animation-name: fadeInUp;
		}